<html>

    <head>
        <title>Twitter Mon :: {{botName}}</title>

        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
        <script type="text/javascript" src="/socket.io/socket.io.js"></script>
        <script type="text/javascript" src="/js/controls/InstrumentPanel.js"></script>
        <script type="text/javascript" src="/js/controls/CompassControl.js"></script>
        <script type="text/javascript" src="/js/controls/ThermometerControl.js"></script>
        <script type="text/javascript" src="/js/controls/VideoFeed.js"></script>
        <script type="text/javascript" src="/js/basePage.js"></script>

        <link href="https://fonts.googleapis.com/css?family=Assistant" rel="stylesheet">
        <link rel="stylesheet" href="/css/controls.css" type="text/css">
        <link rel="stylesheet" href="/css/main.css" type="text/css">
        <script>
            const routeName = '{{routeName}}';
            const botName = '{{botName}}';
        </script>
    </head>

    <body>
        <div class="mainContainer">
            <div>
                {{{body}}}
            </div>
        </div>
        <div class="headerContainer">
            <div class="headerRow">
                {{#if_eq routeName 'home'}}
                <div id="backButton">
                    <div class="botHomeIcon"></div>
                </div>
                {{else}}
                <div id="backButton" onclick="window.location.href='/'">
                    <div class="botBackIcon"></div>
                </div>
                {{/if_eq}}
                <div class="headerRouteInfo">
                    <div class="headerLabel">
                        <h1>{{routeName}} {{#if botName}}: {{botName}}{{/if}}</h1>
                    </div>
                </div>
                <div class="botsMenu menu">
                    <div class="headerLabel">Bots</div>
                    <div class="headerDropdownMenu dropDown">
                        {{#each botList}}
                        <div onclick="window.location.href='/bot/{{this.name}}'">{{this.name}}</div>
                        {{/each}}
                    </div>
                </div>
                {{#if_eq routeName 'quotesList'}}
                <div class="quotesMenu menu" id="addWikiQuoteHeaderButton" onclick="page.newFromWikiQuote()">
                    <div class="headerLabel">
                        <div class="addQuoteButton"></div>New From WikiQuote
                    </div>
                </div>
                <div class="quotesMenu menu" id="addQuoteHeaderButton" onclick="page.showForm()">
                    <div class="headerLabel">
                        <div class="addQuoteButton"></div>New Quote
                    </div>
                </div>
                {{else}}
                <div class="quotesMenu menu" onclick="window.location.href='/quotes'">
                    <div class="headerLabel">Quotes</div>
                </div>
                {{/if_eq}}
                <div class="plantsMenu menu" onclick="window.location.href='/plants/plant1'">
                    <div class="headerLabel">Plant</div>
                </div>
            </div>

        </div>
    </body>

</html>