<html>

    <head>
        <title></title>

        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
        <script type="text/javascript" src="/socket.io/socket.io.js"></script>
        <script type="text/javascript" src="/js/controls/InstrumentPanel.js"></script>
        <script type="text/javascript" src="/js/controls/CompassControl.js"></script>
        <script type="text/javascript" src="/js/controls/ThermometerControl.js"></script>
        <script type="text/javascript" src="/js/controls/VideoFeed.js"></script>
        <script type="text/javascript" src="/js/basePage.js"></script>

        <link href="https://fonts.googleapis.com/css?family=Assistant" rel="stylesheet"> {{#if_eq routeName 'plant'}}
        <link rel="shortcut icon" href="/assets/plant-leaf.ico"> {{else}}
        <link rel="shortcut icon" href="/assets/favicon.ico"> {{/if_eq}}
        <link rel="stylesheet" href="/css/controls.css" type="text/css">
        <link rel="stylesheet" href="/css/main.css" type="text/css">
        <script>
            const routeName = '{{routeName}}';
            const botName = '{{botName}}';
        </script>
    </head>

    <body>
        <div class="mainContainer">
            <div>
                {{{body}}}
            </div>
        </div>
        <div class="headerContainer">
            <div class="headerRow">
                {{#if_eq routeName 'home'}}
                <div id="backButton">
                    <div class="botHomeIcon"></div>
                </div>
                {{else}}
                <div id="backButton" onclick="window.location.href='/'">
                    <div class="botBackIcon"></div>
                </div>
                {{/if_eq}}
                <div class="headerRouteInfo">
                    <div class="headerLabel">
                        <h1>{{routeName}} {{#if botName}}: {{botName}}{{/if}}</h1>
                    </div>
                </div>
                <div class="plantsMenu menu" onclick="window.location.href='{{{aggregateHostUrl}}}/aggregate'">
                    <div class="headerLabel">Aggregator</div>
                </div>
                {{#if isPlantMon}}
                <div class="plantsMenu menu" onclick="window.location.href='/plantMon'">
                    <div class="headerLabel">Plant Monitor</div>
                </div>
                {{/if}}
                {{#if isSenseHat}}
                <div class="plantsMenu menu" onclick="window.location.href='/SenseHat'">
                    <div class="headerLabel">SenseHat</div>
                </div>
                {{/if}}
            </div>

        </div>
    </body>

</html>